header{
padding: 30px 40px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(238, 200, 26);

}

header a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.logo{
    font-size: 27px;
}

.options ul li a{
    margin-left: 25px;
}

.options ul li{
    list-style: none;
}

.active{
    font-weight: bold ;
    color: red ;
}

.greet{
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.user-info{
    position: relative;
    display: inline-block;
}
.logout{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50px) scale(0);
    bottom: 0;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    background-color: red;
    cursor: pointer;
    border: none;
    transition-delay: 0.2s;
    opacity: 0;
    transform-origin: top;
    transition: .2s linear;
}

.logout:hover{
    transform: translate(-50%,50px) scale(1);
    opacity: 1;
}
.greet:hover +  .logout{
    transform: translate(-50%,50px) scale(1);
    opacity: 1;
}